/src/_ReSharper.exceltk
/src/Exceltk/bin/
/src/Exceltk/obj/
/src/exceltk.suo
/src/bin/
/src/obj/
/src/.vs
/src/exceltk.sln.docstates.suo
/src/exceltk.suo
/src/ExcelToolKit/ExcelToolKit.csproj.user
/src/test/*.md
/src/test/*.json
/.DS_Store
/src/project.lock.json
.DS_Store
Exceltk/.DS_Store
Exceltk/SharpZip/.DS_Store
src/Exceltk/ExcelToolKit.csproj.user
