.DS_Store
.vscode/

src/.vs
src/Exceltk/bin/
src/Exceltk/obj/
src/Exceltk/Exceltk.csproj.user

src/exceltk.sln.docstates.suo
src/exceltk.suo

src/bin/
src/obj/

src/test/*.html
src/test/*.json
src/test/*.md
src/test/*.tex

src/excels/

